# Controls how Git treats the contents of the repository.
# See https://git-scm.com/docs/gitattributes for details.

# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Git blame ignore file for mass auto-formatting commits
.git-blame-ignore-revs export-ignore

# Explicitly declare text files you want to always be LF
*.txt   text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.ts    text eol=lf
*.js    text eol=lf
*.jsx   text eol=lf
*.tsx   text eol=lf
*.mjs   text eol=lf
*.cjs   text eol=lf
*.css   text eol=lf
*.scss  text eol=lf
*.html  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.sh    text eol=lf
*.py    text eol=lf
*.svg   text eol=lf

# Mark image files as binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.dds   binary
*.tga   binary
*.bmp   binary

# Mark audio files as binary
*.wav   binary
*.mp3   binary
*.ogg   binary
*.flac  binary
*.aiff  binary
*.m4a   binary
*.wma   binary
*.aac   binary
*.mid   binary
*.midi  binary
*.aif   binary
*.aifc  binary
*.au    binary
*.ra    binary
*.rm    binary
*.ram   binary
*.wpl   binary
*.pls   binary
*.cda   binary
*.m3u   binary
*.m3u8  binary
*.xm    binary
*.mod   binary
*.it    binary
*.s3m   binary
*.mtm   binary
*.669   binary
*.amf   binary
*.dsm   binary
*.far   binary
*.med   binary
*.ult   binary
*.sfx   binary
*.voc   binary
*.snd   binary
*.iff   binary
*.8svx  binary
*.caf   binary
*.adpcm binary
*.bwf   binary
*.dsd   binary
*.pcm   binary
*.w64   binary
*.flp   binary

# Mark video files as binary
*.mp4   binary
*.avi   binary
*.mov   binary
*.wmv   binary
*.flv   binary
*.mkv   binary
*.webm  binary
*.mpg   binary
*.mpeg  binary
*.3gp   binary
*.vob   binary

# Mark archive files as binary
*.zip   binary
*.rar   binary
*.7z    binary
*.tar   binary
*.gz    binary
*.bz2   binary
*.xz    binary
