# Controls how Git treats the contents of the repository.
# See https://git-scm.com/docs/gitattributes for details.

# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Git blame ignore file for mass auto-formatting commits
.git-blame-ignore-revs export-ignore

# Explicitly declare text files you want to always be LF
*.ts    text eol=lf
*.tsx   text eol=lf
*.css   text eol=lf
*.scss  text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.jsx   text eol=lf
*.txt   text eol=lf
*.json  text eol=lf
*.md    text eol=lf

# Mark image files as binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.dds   binary
*.tga   binary
*.bmp   binary
