# URL of the deployed frontend application
PUBLIC_WEBSITE_URL=https://graphical-playground.com
PUBLIC_API_URL=https://api.graphical-playground.com
PUBLIC_DOCS_URL=https://docs.graphical-playground.com
