@import '../styles/globals.css';

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Haptik';
  src: url('/fonts/GT Haptik/GT-Haptik-Lazer.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PP Mori/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PP Mori/PPMori-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Mori';
  src: url('/fonts/PP Mori/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('/fonts/Iosevka/Iosevka-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-sans: 'PP Mori', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --font-heading: 'GT Haptik', var(--font-sans);
  --font-mono: 'Iosevka', SF Mono, SF Mono Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  --background: lab(96.5432% -0.0000596046 0);
  --foreground: lab(8.34178% 0.607349 -2.12998);
}

html,
body {
  font-family: var(--font-sans);
}

.dark,
[data-theme='dark'] {
  --background: lab(1.54547% 0.178337 -0.64671);
  --foreground: lab(98.9676% -0.0000298023 -0.0000119209);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}