@layer base {
  /* GP-Platform Graphical Theme */
  .graphical,
  [data-theme='graphical'] {
    color-scheme: dark;

    /* == Common Variables == */

    /* Primitive Colors (Do not change between light and dark) */
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);
    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);

    /* Spacing scale */
    --spacing: 0.25rem;

    /* Border */
    --border-width: 1px;
    --field-border-width: 0px;
    --disabled-opacity: 0.5;

    /* Ring offset - Used for focus ring */
    --ring-offset-width: 2px;

    /* Cursor */
    --cursor-interactive: pointer;
    --cursor-disabled: not-allowed;

    /* Radius */
    --radius: 0.15rem;
    --field-radius: calc(var(--radius) * 1.5);

    /* == Light Theme Variables == */

    /* Base Colors */
    --background: oklch(17.491% 0.00823 285.492);
    --foreground: var(--snow);

    /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
    --surface: oklch(0.2103 0.0059 285.89);
    --surface-foreground: var(--foreground);

    --surface-secondary: oklch(0.257 0.0037 286.14);
    --surface-secondary-foreground: var(--foreground);

    --surface-tertiary: oklch(0.2721 0.0024 247.91);
    --surface-tertiary-foreground: var(--foreground);

    /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) */
    --overlay: oklch(0.2103 0.0059 285.89);
    --overlay-foreground: var(--foreground);

    --muted: oklch(70.5% 0.015 286.067);

    --scrollbar: oklch(70.5% 0.015 286.067);

    --default: oklch(27.4% 0.006 286.033);
    --default-foreground: var(--snow);

    --accent: oklch(74.917% 0.15121 235.273);
    --accent-foreground: var(--background);

    /* Form Fields */
    --field-background: oklch(0.2103 0.0059 285.89);
    --field-foreground: var(--foreground);
    --field-placeholder: var(--muted);
    --field-border: transparent; /* no border by default on form fields */

    /* Status Colors */
    --success: oklch(73.551% 0.1819 147.441);
    --success-foreground: var(--eclipse);

    --warning: oklch(84.693% 0.16488 84.123);
    --warning-foreground: var(--eclipse);

    --danger: oklch(66.201% 0.22564 19.868);
    --danger-foreground: var(--snow);

    /* Component Colors */
    --segment: oklch(0.3964 0.01 285.93);
    --segment-foreground: var(--foreground);

    /* Misc Colors */
    --border: oklch(28% 0.006 286.033);
    --separator: oklch(25% 0.006 286.033);
    --focus: var(--accent);
    --link: var(--foreground);

    /* Shadows */
    --surface-shadow: 0 0 0 0 transparent inset; /* No shadow on dark mode */
    --overlay-shadow: 0 0 1px 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset; /* Transparent shadow to allow ring utilities to work */

    /* Skeleton Default Global Animation */
    --skeleton-animation: shimmer; /* shimmer, pulse, none */

    /* Font Family */
    --font-family-base: Inter;
    --font-family-display: Inter Tight;
    --font-family-code: Recursive Mono;

    --font-sans:
      var(--font-family-base), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-monospace:
      var(--font-family-code), SF Mono, SF Mono Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

    /* Custom */
    --color-background-backdrop-strong: rgba(0, 0, 0, 0.65);
    --color-background-backdrop-regular: rgba(0, 0, 0, 0.35);
    --color-background-menu: #303034;
    --color-background-default: #101014;
    --color-background-elevated-low-default: #18181c;
    --color-background-elevated-low-transparent: rgba(255, 255, 255, 0.05);
    --color-background-elevated-high-default: #202024;
    --color-background-elevated-high-hover: #404044;
    --color-background-elevated-high-press: #202024;
    --color-background-elevated-high-select: #28282c;
    --color-border-focus: #ffffff;
    --color-border-disabled: rgba(255, 255, 255, 0.35);
    --color-border-accent-default: rgba(255, 255, 255, 0.65);
    --color-border-accent-hover: #ffffff;
    --color-border-subtle: rgba(255, 255, 255, 0.15);
    --color-border-critical-default: #ff3f56;
    --color-border-critical-hover: #ff8291;
    --color-border-critical-press: #ff3f56;
    --color-border-default: rgba(255, 255, 255, 0.35);
    --color-border-hover: rgba(255, 255, 255, 0.65);
    --color-border-press: rgba(255, 255, 255, 0.35);
    --color-border-subdued: rgba(255, 255, 255, 0.1);
    --color-border-faint: rgba(255, 255, 255, 0.05);
    --color-fill-primary-default: #26bbff;
    --color-fill-primary-hover: #72d3ff;
    --color-fill-primary-press: #26bbff;
    --color-fill-primary-disabled: #303034;
    --color-fill-contrast-default: #ffffff;
    --color-fill-contrast-hover: #a6a6a6;
    --color-fill-contrast-press: #ffffff;
    --color-fill-secondary-elevated-default: rgba(255, 255, 255, 0.65);
    --color-fill-secondary-elevated-hover: rgba(255, 255, 255, 0.35);
    --color-fill-secondary-disabled: #303034;
    --color-fill-secondary-recessed: #101014;
    --color-fill-secondary-default: rgba(255, 255, 255, 0.15);
    --color-fill-secondary-hover: rgba(255, 255, 255, 0.35);
    --color-fill-secondary-press: rgba(255, 255, 255, 0.15);
    --color-fill-secondary-subdued: #000000;
    --color-fill-tertiary-default: rgba(0, 0, 0, 0);
    --color-fill-tertiary-hover: rgba(255, 255, 255, 0.15);
    --color-fill-tertiary-elevated-hover: #505054;
    --color-fill-tertiary-select-default: rgba(255, 255, 255, 0.15);
    --color-fill-tertiary-select-hover: rgba(255, 255, 255, 0.35);
    --color-fill-tertiary-select-press: rgba(255, 255, 255, 0.15);
    --color-fill-tertiary-press: rgba(0, 0, 0, 0);
    --color-fill-input-disabled: #303034;
    --color-fill-input-default: rgba(255, 255, 255, 0.05);
    --color-fill-success-default: #45c761;
    --color-fill-success-alternate: #71d687;
    --color-fill-informational: #61cdff;
    --color-fill-warning-default: #ffc229;
    --color-fill-warning-alternate: #ffd15c;
    --color-fill-critical-default: #ff3f56;
    --color-fill-critical-alternate: #ff6173;
    --color-fill-critical-hover: #ff8291;
    --color-fill-critical-press: #ff3f56;
    --color-fill-disabled-primary: rgba(255, 255, 255, 0.15);
    --color-fill-disabled-secondary: rgba(255, 255, 255, 0.35);
    --color-fill-disabled-tertiary: rgba(0, 0, 0, 0);
    --color-icon-primary: #ffffff;
    --color-icon-secondary: rgba(255, 255, 255, 0.65);
    --color-icon-disabled-default: rgba(255, 255, 255, 0.65);
    --color-icon-disabled-inverted: #000000;
    --color-icon-link-primary-default: #26bbff;
    --color-icon-link-primary-press: #61cdff;
    --color-icon-link-secondary-default: #ffffff;
    --color-icon-link-secondary-press: #ffffff;
    --color-icon-select-default: #26bbff;
    --color-icon-select-hover: #61cdff;
    --color-icon-informational: #26bbff;
    --color-icon-success: #45c761;
    --color-icon-warning: #ffc229;
    --color-icon-critical: #ff3f56;
    --color-icon-on-accent: #000000;
    --color-icon-contrast: #ffffff;
    --color-material-100: rgba(16, 16, 20, 0.85);
    --color-material-200: rgba(32, 32, 36, 0.7);
    --color-material-300: rgba(48, 48, 52, 0.7);
    --color-material-default-strong: rgba(16, 16, 20, 0.7);
    --color-material-default-weak: rgba(16, 16, 20, 0.4);
    --color-material-elevated-low-strong: rgba(32, 32, 36, 0.7);
    --color-material-elevated-low-weak: rgba(32, 32, 36, 0.4);
    --color-material-elevated-high-strong: rgba(48, 48, 52, 0.7);
    --color-material-elevated-high-weak: rgba(48, 48, 52, 0.4);
    --color-neutral-100: #101014;
    --color-neutral-150: #18181c;
    --color-neutral-200: #202024;
    --color-neutral-250: #28282c;
    --color-neutral-300: #303034;
    --color-neutral-400: #404044;
    --color-palette-static-white: #ffffff;
    --color-palette-static-black: #000000;
    --color-palette-grayscale-gray010: #101014;
    --color-palette-grayscale-gray020: #18181c;
    --color-palette-grayscale-gray030: #202024;
    --color-palette-grayscale-gray040: #28282c;
    --color-palette-grayscale-gray050: #303034;
    --color-palette-grayscale-gray060: #404044;
    --color-palette-grayscale-gray070: #505054;
    --color-palette-grayscale-gray080: #606064;
    --color-palette-grayscale-gray090: #707074;
    --color-palette-grayscale-gray100: #808084;
    --color-palette-grayscale-gray110: #aaaaae;
    --color-palette-grayscale-gray120: #e6e6ea;
    --color-palette-grayscale-transparent: rgba(0, 0, 0, 0);
    --color-palette-accent-blue200: #26bbff;
    --color-palette-accent-lime200: #a9d34f;
    --color-palette-accent-yellow200: #ffc229;
    --color-palette-accent-red200: #ff3f56;
    --color-palette-accent-pink200: #fe54ba;
    --color-palette-accent-purple200: #be3dff;
    --color-palette-accent-indigo200: #7371ff;
    --color-palette-accent-cyan200: #43dac2;
    --color-palette-accent-green200: #45c761;
    --color-palette-accent-amber200: #ff8e1f;
    --color-palette-accent-orange200: #fd6535;
    --color-palette-accent-brown200: #b2715d;
    --color-palette-accent-tone-blue300: #61cdff;
    --color-palette-accent-tone-blue400: #72d3ff;
    --color-palette-accent-tone-lime300: #bfde7c;
    --color-palette-accent-tone-yellow300: #ffd15c;
    --color-palette-accent-tone-red300: #ff6173;
    --color-palette-accent-tone-red400: #ff8291;
    --color-palette-accent-tone-pink300: #fe71c6;
    --color-palette-accent-tone-purple300: #d480ff;
    --color-palette-accent-tone-indigo300: #aaa8ff;
    --color-palette-accent-tone-cyan300: #88e7d7;
    --color-palette-accent-tone-green300: #71d687;
    --color-palette-accent-tone-amber300: #ffb061;
    --color-palette-accent-tone-orange300: #fd7b53;
    --color-palette-accent-tone-brown300: #c89889;
    --color-palette-transparent-light-100: #ffffff;
    --color-palette-transparent-light-005: rgba(255, 255, 255, 0.05);
    --color-palette-transparent-light-010: rgba(255, 255, 255, 0.1);
    --color-palette-transparent-light-015: rgba(255, 255, 255, 0.15);
    --color-palette-transparent-light-035: rgba(255, 255, 255, 0.35);
    --color-palette-transparent-light-065: rgba(255, 255, 255, 0.65);
    --color-palette-transparent-dark-100: #000000;
    --color-palette-transparent-dark-005: rgba(0, 0, 0, 0.05);
    --color-palette-transparent-dark-010: rgba(0, 0, 0, 0.1);
    --color-palette-transparent-dark-015: rgba(0, 0, 0, 0.15);
    --color-palette-transparent-dark-035: rgba(0, 0, 0, 0.35);
    --color-palette-transparent-dark-065: rgba(0, 0, 0, 0.65);
    --color-palette-red-100: #331313;
    --color-palette-red-200: #762c2c;
    --color-palette-red-300: #ba4545;
    --color-palette-red-400: #fd5e5e;
    --color-palette-red-500: #fe8989;
    --color-palette-red-600: #feb4b4;
    --color-palette-red-700: #ffdfdf;
    --color-palette-pink-100: #2d1424;
    --color-palette-pink-200: #693055;
    --color-palette-pink-300: #a54b85;
    --color-palette-pink-400: #e166b6;
    --color-palette-pink-500: #e98fc9;
    --color-palette-pink-600: #f1b8dd;
    --color-palette-pink-700: #f9e0f0;
    --color-palette-purple-100: #251530;
    --color-palette-purple-200: #573270;
    --color-palette-purple-300: #894eb0;
    --color-palette-purple-400: #bb6bf0;
    --color-palette-purple-500: #cd92f4;
    --color-palette-purple-600: #dfbaf8;
    --color-palette-purple-700: #f1e1fc;
    --color-palette-indigo-100: #1b1c33;
    --color-palette-indigo-200: #3f4076;
    --color-palette-indigo-300: #6265ba;
    --color-palette-indigo-400: #868afd;
    --color-palette-indigo-500: #a6a9fe;
    --color-palette-indigo-600: #c7c8fe;
    --color-palette-indigo-700: #e7e8ff;
    --color-palette-blue-100: #0a2633;
    --color-palette-blue-200: #185977;
    --color-palette-blue-300: #258cbb;
    --color-palette-blue-400: #33bfff;
    --color-palette-blue-500: #69d0ff;
    --color-palette-blue-600: #a0e1ff;
    --color-palette-blue-700: #d6f2ff;
    --color-palette-cyan-100: #0e2b26;
    --color-palette-cyan-200: #206359;
    --color-palette-cyan-300: #329c8c;
    --color-palette-cyan-400: #44d5bf;
    --color-palette-cyan-500: #76e0d0;
    --color-palette-cyan-600: #a8ebe1;
    --color-palette-cyan-700: #daf7f2;
    --color-palette-green-100: #132d15;
    --color-palette-green-200: #2c6a30;
    --color-palette-green-300: #46a64c;
    --color-palette-green-400: #5fe367;
    --color-palette-green-500: #8aea90;
    --color-palette-green-600: #b4f2b8;
    --color-palette-green-700: #dff9e1;
    --color-palette-lime-100: #222e11;
    --color-palette-lime-200: #4f6c28;
    --color-palette-lime-300: #7da93e;
    --color-palette-lime-400: #aae755;
    --color-palette-lime-500: #c1ed82;
    --color-palette-lime-600: #d7f4b0;
    --color-palette-lime-700: #eefadd;
    --color-palette-yellow-100: #312b09;
    --color-palette-yellow-200: #736514;
    --color-palette-yellow-300: #b59e20;
    --color-palette-yellow-400: #f7d82b;
    --color-palette-yellow-500: #f9e264;
    --color-palette-yellow-600: #fbed9c;
    --color-palette-yellow-700: #fdf7d5;
    --color-palette-amber-100: #322206;
    --color-palette-amber-200: #744f0e;
    --color-palette-amber-300: #b77c17;
    --color-palette-amber-400: #f9a91f;
    --color-palette-amber-500: #fbc05b;
    --color-palette-amber-600: #fcd796;
    --color-palette-amber-700: #feeed2;
    --color-palette-orange-100: #331b0b;
    --color-palette-orange-200: #773e1b;
    --color-palette-orange-300: #ba622a;
    --color-palette-orange-400: #fe8539;
    --color-palette-orange-500: #fea66e;
    --color-palette-orange-600: #ffc6a3;
    --color-palette-orange-700: #ffe7d7;
    --color-palette-brown-100: #221a14;
    --color-palette-brown-200: #4f3c30;
    --color-palette-brown-300: #7c5e4b;
    --color-palette-brown-400: #a98166;
    --color-palette-brown-500: #c0a28f;
    --color-palette-brown-600: #d7c4b8;
    --color-palette-brown-700: #eee6e0;
    --color-text-primary: #ffffff;
    --color-text-secondary: rgba(255, 255, 255, 0.65);
    --color-text-disabled-default: rgba(255, 255, 255, 0.65);
    --color-text-disabled-inverted: #000000;
    --color-text-link-primary-default: #26bbff;
    --color-text-link-primary-press: #61cdff;
    --color-text-link-secondary-default: #ffffff;
    --color-text-link-secondary-press: #ffffff;
    --color-text-link-on-accent-default: #000000;
    --color-text-link-on-accent-press: #000000;
    --color-text-select-default: #26bbff;
    --color-text-select-hover: #61cdff;
    --color-text-success: #45c761;
    --color-text-warning: #ffc229;
    --color-text-critical: #ff6173;
    --color-text-on-accent: #000000;
    --color-text-contrast: #ffffff;
    --color-transparent-full: rgba(0, 0, 0, 0);
    --color-transparent-light-100: #ffffff;
    --color-transparent-light-005: rgba(255, 255, 255, 0.05);
    --color-transparent-light-010: rgba(255, 255, 255, 0.1);
    --color-transparent-light-015: rgba(255, 255, 255, 0.15);
    --color-transparent-light-035: rgba(255, 255, 255, 0.35);
    --color-transparent-light-065: rgba(255, 255, 255, 0.65);
    --color-transparent-dark-100: #000000;
    --color-transparent-dark-005: rgba(0, 0, 0, 0.05);
    --color-transparent-dark-010: rgba(0, 0, 0, 0.1);
    --color-transparent-dark-015: rgba(0, 0, 0, 0.15);
    --color-transparent-dark-035: rgba(0, 0, 0, 0.35);
    --color-transparent-dark-065: rgba(0, 0, 0, 0.65);
    --gradient-blue: linear-gradient(225deg, #dfbaf8, #33bfff);
    --gradient-indigo: linear-gradient(225deg, #f1b8dd, #868afd);
    --gradient-purple: linear-gradient(225deg, #feb4b4, #bb6bf0);
    --gradient-pink: linear-gradient(225deg, #ffc6a3, #e166b6);
    --gradient-red: linear-gradient(225deg, #fcd796, #fd5e5e);
    --gradient-orange: linear-gradient(225deg, #fbed9c, #fe8539);
    --gradient-amber: linear-gradient(225deg, #d7f4b0, #f9a91f);
    --gradient-yellow: linear-gradient(225deg, #b4f2b8, #f7d82b);
    --gradient-lime: linear-gradient(225deg, #a8ebe1, #aae755);
    --gradient-green: linear-gradient(225deg, #a0e1ff, #5fe367);
    --gradient-cyan: linear-gradient(225deg, #c7c8fe, #44d5bf);
    --gradient-components-blue-angle: 225deg;
    --gradient-components-blue-stops-0: #dfbaf8;
    --gradient-components-blue-stops-100: #33bfff;
    --gradient-components-indigo-angle: 225deg;
    --gradient-components-indigo-stops-0: #f1b8dd;
    --gradient-components-indigo-stops-100: #868afd;
    --gradient-components-purple-angle: 225deg;
    --gradient-components-purple-stops-0: #feb4b4;
    --gradient-components-purple-stops-100: #bb6bf0;
    --gradient-components-pink-angle: 225deg;
    --gradient-components-pink-stops-0: #ffc6a3;
    --gradient-components-pink-stops-100: #e166b6;
    --gradient-components-red-angle: 225deg;
    --gradient-components-red-stops-0: #fcd796;
    --gradient-components-red-stops-100: #fd5e5e;
    --gradient-components-orange-angle: 225deg;
    --gradient-components-orange-stops-0: #fbed9c;
    --gradient-components-orange-stops-100: #fe8539;
    --gradient-components-amber-angle: 225deg;
    --gradient-components-amber-stops-0: #d7f4b0;
    --gradient-components-amber-stops-100: #f9a91f;
    --gradient-components-yellow-angle: 225deg;
    --gradient-components-yellow-stops-0: #b4f2b8;
    --gradient-components-yellow-stops-100: #f7d82b;
    --gradient-components-lime-angle: 225deg;
    --gradient-components-lime-stops-0: #a8ebe1;
    --gradient-components-lime-stops-100: #aae755;
    --gradient-components-green-angle: 225deg;
    --gradient-components-green-stops-0: #a0e1ff;
    --gradient-components-green-stops-100: #5fe367;
    --gradient-components-cyan-angle: 225deg;
    --gradient-components-cyan-stops-0: #c7c8fe;
    --gradient-components-cyan-stops-100: #44d5bf;

    --opacity-highlight: 0.2;
    --opacity-disabled: 0.5;
    --opacity-loading: 0.8;
    --opacity-read-only: 0.8;
    --opacity-image-hover: 0.8;

    --shadow-bottom-sm:
      0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
      0px 6px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
    --shadow-bottom-md:
      0px 2px 1px rgba(0, 0, 0, 0.1), 0px 4px 2px rgba(0, 0, 0, 0.1), 0px 8px 4px rgba(0, 0, 0, 0.1),
      0px 16px 8px rgba(0, 0, 0, 0.1), 0px 32px 16px rgba(0, 0, 0, 0.1);
    --shadow-top-sm:
      0px -1px 1px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(0, 0, 0, 0.1), 0px -4px 4px rgba(0, 0, 0, 0.1),
      0px -6px 8px rgba(0, 0, 0, 0.1), 0px -8px 16px rgba(0, 0, 0, 0.1);
    --shadow-top-md:
      0px -2px 1px rgba(0, 0, 0, 0.1), 0px -4px 2px rgba(0, 0, 0, 0.1), 0px -8px 4px rgba(0, 0, 0, 0.1),
      0px -16px 8px rgba(0, 0, 0, 0.1), 0px -32px 16px rgba(0, 0, 0, 0.1);
    --shadow-left-sm:
      -1px 0px 1px rgba(0, 0, 0, 0.1), -2px 0px 2px rgba(0, 0, 0, 0.1), -4px 0px 4px rgba(0, 0, 0, 0.1),
      -6px 0px 8px rgba(0, 0, 0, 0.1), -8px 0px 16px rgba(0, 0, 0, 0.1);
    --shadow-left-md:
      -2px 0px 1px rgba(0, 0, 0, 0.1), -4px 0px 2px rgba(0, 0, 0, 0.1), -8px 0px 4px rgba(0, 0, 0, 0.1),
      -16px 0px 8px rgba(0, 0, 0, 0.1), -32px 0px 16px rgba(0, 0, 0, 0.1);
    --shadow-right-sm:
      1px 0px 1px rgba(0, 0, 0, 0.1), 2px 0px 2px rgba(0, 0, 0, 0.1), 4px 0px 4px rgba(0, 0, 0, 0.1),
      6px 0px 8px rgba(0, 0, 0, 0.1), 8px 0px 16px rgba(0, 0, 0, 0.1);
    --shadow-right-md:
      2px 0px 1px rgba(0, 0, 0, 0.1), 4px 0px 2px rgba(0, 0, 0, 0.1), 8px 0px 4px rgba(0, 0, 0, 0.1),
      16px 0px 8px rgba(0, 0, 0, 0.1), 32px 0px 16px rgba(0, 0, 0, 0.1);

    --animation-duration-125: 125ms;
    --animation-duration-150: 150ms;
    --animation-duration-625: 625ms;
    --animation-duration-750: 750ms;
    --animation-duration-1000: 1000ms;

    --animation-easing-linear: cubic-bezier(0, 0, 1, 1);
    --animation-easing-ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
    --animation-easing-ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  }
}
